div.thumbnailList {
    background: #F9F9F9;
    border: 2px solid #3f3f3f;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    margin: -10px auto 0 auto;
    min-height: 184px;
    overflow: hidden;
    padding: 0px 20px;
    position: relative;

    & > ul.paginator {
        bottom: 1%;
        left: 50%;
        list-style-type: none;
        position: absolute;
        transform: translateX(-50%);

        & li {
            background-color: #4d4d4d;
            display: inline-block;
            height: 2px;
            margin-left: 1px;
            width: 12px;

            &.active {
                background-color: #a22;
            }

        }

    }

}
