@import "../../global/css/variables.scss";

div.thumbnailList {
    background: $alabaster;
    border: 2px solid $mine-shaft;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px $black-alpha-75;
    display: flex;
    margin: -10px auto 0 auto;
    min-height: 184px;
    overflow: hidden;
    padding: 0px 20px;
    position: relative;

    & > ul.paginator {
        bottom: 1%;
        left: 50%;
        list-style-type: none;
        position: absolute;
        transform: translateX(-50%);

        & li {
            background-color: $tundora;
            display: inline-block;
            height: 2px;
            margin-left: 1px;
            width: 12px;

            &.active {
                background-color: $mexican-red;
            }

        }

    }

}
