// Colors
// **************************************************
$boulder: #777777;
$alabaster: #F9F9F9;
$mine-shaft: #3F3F3F;
$tundora: #4D4D4D;
$mexican-red: #AA2222;
$persian-blue: #123ABC;
$black-alpha-75: rgba(0, 0, 0, 0.75);
// **************************************************

:export {
  persianBlue: $persian-blue;
}
